<div class="row mb-5 shadow-sm equal m-1">
    <div class="col-md-5 border-0 p-0 ">
        <a href="{% url 'post_detail' post.slug  %}">
            <img class="rounded " src="{{ post.cover.url }}"
                 alt="Thumbnail for {{ post.headline }}" title="Thumbnail for {{ post.headline }}">
        </a>
    </div>
    <div class="col-md-7 border-0 p-0">
        <div class="card-header bg-white border-0" style="font-size:2vw;">
            <h5>
                <a class="text-body " href="{% url 'post_detail' post.slug  %}">
                    {{ post.headline }}
                </a>
            </h5>
        </div>
        <div class="card-body pt-0">
            <div class="">{% autoescape on %}
                {% if post.summary %}
                <p class="card-text">{{ post.summary | striptags }}</p>
                {% else %}
                <p class="card-text">{{ post.body | striptags | slice:"200" }} ... </p>
                {% endif %}
            </div>
            {% endautoescape %}
        </div>
    </div>
</div>